:root {
  --white-color: #f6f4f4;
  --primary-color-1: #530889;
  --primary-color-2: #d60296;
  --primary-color-3: #f85b4e;
  --primary-color-4: #ddd1c2;
  --primary-dark-color: #e0237f;
  --primary-dark-color: #1c1c21;
  --normal-font: 1.2rem;
  --padding: 5% 10%;
}


.faq {
  padding: var(--padding);
}

.accordion-container {
  /* width: 90%; */
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}